.center {
    text-align: center;
}
footer{
    width:100%;
    position: fixed;
    text-align:center;
    bottom:0;
}
.beian{
    height: 50px;
}
img.ox_img{
  width:150px;
  height:150px;
}
body{
    background-image: url('./bg.jpg');
    background-size: contain;
}